# -*- mode: gitignore; -*-
# Template from: https://gist.github.com/jmsaavedra/20a1a845fe5f3a2b726a


###################################
# Project Specific
###################################

# Build Output
/lib/
/out/

# Placeholder File
**/.placeholder


###################################
# general ignore patterns
###################################

*.log
node_modules/
obj/
*.o
Debug*/
Release*/
*.mode*
*.app/
*.pyc
.svn/


###################################
# OS Specific
###################################

# Linux
*~
# KDE
.directory

# MacOS
**/.DS_Store
.DS_Store
*.swp
*~.nib
# Thumbnails
._*

# Windows
# Windows image file caches
Thumbs.db
# Folder config file
Desktop.ini
# Side Effect of Copy to WSL
*•Zone.Identifier

# Android
.csettings
/libs/openFrameworksCompiled/project/android/paths.make


###################################
# IDE specific
###################################

# Visual Studio Code
# NOTE: We need to make sure formatOnSave is enabled
.vscode/*
!.vscode/settings.json

# Vim
Session.vim
Sessionx.vim
.netrwhist
tags
[._]*.un~

# Emacs
*~
\#*\#
/.emacs.desktop
/.emacs.desktop.lock
*.elc
auto-save-list
tramp
.\#*
# Org-mode
.org-id-locations
*_archive
# flymake-mode
*_flymake.*
# eshell files
/eshell/history
/eshell/lastdir
# reftex files
*.rel
# AUCTeX auto folder
/auto/
# cask packages
.cask/
# Flycheck
flycheck_*.el
# server auth directory
/server/
# projectiles files
.projectile
# directory configuration
.dir-locals.el

# network security
/network-security.data

# XCode
*.pbxuser
*.perspective
*.perspectivev3
*.mode1v3
*.mode2v3

# XCode 4
xcuserdata
*.xcworkspace

# Code::Blocks
*.depend
*.layout

# Visual Studio
*.sdf
*.opensdf
*.suo
ipch/

# Eclipse
.metadata
local.properties
.externalToolBuilders
